GOOGLE_SHEETS_WEBAPP_URL=https://script.google.com/macros/s/SEU_DEPLOYMENT_ID/exec
GOOGLE_SHEETS_WEBAPP_TOKEN=cole_aqui_o_token_compartilhado
PORTAL_ACCESS_PASSWORD=defina_uma_senha_forte_para_a_equipe
PORTAL_SESSION_SECRET=gere_um_segredo_aleatorio_com_pelo_menos_32_bytes
